body
{
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#objects_status,#start
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    width: 100%;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 60px;
    margin-bottom: 100px;
}

.note
{
    font-size: 13px;
    color: black;
}